/* Class of the played segments */
.playHighlighted { 
  background-color: greenyellow;
  text-transform: uppercase;
}

/* Class of the first segment when start tapTimer */
.timerHighlighted {
  background-color: orange;
  text-transform: uppercase;
}

/* Class of the segment when tapping */
.tapHighlighted {
  background-color: yellow;
  text-transform: uppercase;
}

/* Class of the last segment when tapping */
.lastTapHighlighted {
  background-color: #00FFFF;
  text-transform: uppercase;
}

#tapHint {
  display: none;
  color: white;
  padding-left: 15px;
  padding-top: 3px;
  font-family: 'liberation mono', monospace;
  font-size: 20px;
}