/* Class of the played segments */
.playHighlighted { 
  background-color: greenyellow;
  text-transform: uppercase;
}

/* Class of the first segment when start tapTimer */
.timerHighlighted {
  background-color: orange;
  text-transform: uppercase;
}

/* Class of the segment when tapping */
.tapHighlighted {
  background-color: yellow;
  text-transform: uppercase;
}

#mediaInputLinkContainer {
  display: none;
  padding-left: 13px;
}

#mediaInputLink {
  width: 500px;
  border-color: silver;
  border-width: 1px;
}

#media-msg {
  display: none;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 12px;
  font-family: arial;
}

/* Container of video and gif */
#playerContainer {
  display: none;
  width: 100%;
  height: 85px;
}

/* Container of video */
#videoContainer {
  display: none;
  background-color: black;
  width: 100%;
}

/* Image container */
#imgContainer {
  display: none;
  height: 80px;
}

#image {
  background-color: white;
}

/* Normal view of container */
#videoContainer.normal-view {
  padding-top: 5px;
  margin-left: 15px;
  width: 600px;
  height: 80px;
}

/* Gif view of container */
#videoContainer.gif-view {
  padding-top: 15px;
  padding-left: 0;
  width: 100%;
  overflow: hidden;
}

/* Normal view of container */
#imgContainer.normal-view {
  padding-top: 2px;
  background-color: white;
}

#imgContainer.normal-view  img{
  padding-left: 15px;
}

/* Gif view of container */
#imgContainer.gif-view {
  padding-top: 15px;
  background-color: black;
  overflow: hidden;
}

#goodThumbs {
  height:80px;
  overflow: hidden;
  margin-top: 1px;
  white-space: nowrap;
  margin-left: -6px;
  border-bottom: solid 0.8px #CCCCB2;
}

#okThumbs {
  height:50px;
  overflow: hidden;
  margin-top: 1px;
  white-space: nowrap;
  margin-left: -6px;
}

#goodThumbs>span {
  height: 80px;
  width: 80px;
}

#okThumbs>span {
  height: 50px;
  width: 50px;
}

span.thumb {
  background-size: auto 100%;
  background-position: center center;
  display: inline-block;
  cursor: pointer;
  opacity: 0.6;
  border: solid 1px black;
}

span.active {
  opacity: 1;
}

span:hover {
  opacity: 0.8;
}