html {
  height: 100%;
  /*background-color: white;*/
}

body {
  margin: 0;
  height: 100%;
  background-color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#main {
  display: none;
  background-color: white;
}

/* Twext area */
#data-show {
  background-color: white;
  padding: 3px 0px 10px 10px;
  margin: 0px 10px 5px 15px;
  overflow: auto;
  white-space: nowrap;
  outline: none;
  border: 2px solid orange;
}

#control-data-bar {
  font-family: 'liberation mono', monospace;
  font-size: 20px;
  padding: 10px 10px 0px 25px;
}

/* control data bar key class */
.controls {
  margin-right: 1px;
  color: blue;
  float: left;
}

/* control data bar label class */
.data {
  margin-right: 5px;
  color: silver;
  float: left;
}

.clear {
  clear: both;
}

/* Font types */
.monospaceFont {
  font-family: 'liberation mono', monospace;
}
.proportionalFont {
  font-family: Helvetica, sans-serif;
}

/* Text line class */
.text{
  font-size: 1.0em;
  font-weight: normal;
	line-height:1.1em;
}

/* Twext/Timing line class */
.timing{
  font-size: 0.4em;
  color: silver;
  top: -0.9em;
	line-height:0.9em;
}