.chunk {
    float:left;
    text-align:center;
    padding-right: 0.4em; /* Spacing Between Chunks */
    height: 25px;
}

.text{
    font-size: 1.0em;
    font-weight: normal;
	line-height:1.1em;
}

.twext{
    font-size: 0.4em;
    color: silver;
    top: -0.9em;
	line-height:0.9em;
}

.line-break {
    height:0px;
    width:100%;
    clear: both;
}

.para-break {
    height:30px;
    width:100%;
    clear: both;
}
