.playHighlighted { 
  background-color: greenyellow;
  text-transform: uppercase;
}

.timerHighlighted {
  background-color: yellow;
  text-transform: uppercase;
}

.recordingHighlighted {
  background-color: orange;
  text-transform: uppercase;
}

.gifPlayHighlighted {
  color: greenyellow;
  text-transform: uppercase;
}

#playerContainer {
  width: 600px;
  height: 80px;
}

#data-gif-view {
  display: none;
  position: absolute;
  width: 600px;
  height: 30px;
  padding-top: 5px;
  color: #f2f2f2;
}

#data-gif-content {
  display: table;
  margin: 0 auto;
  text-align: left;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

#youtubeLinkContainer {
  display: none;
  padding-left: 13px;
}

#youtubeLink {
  width: 500px;
  border-color: silver;
  border-width: 1px;
}

#video-msg {
  display: none;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 12px;
  font-family: arial;
}

#videoPlayerContainer {
  display: none;
  background-color: black;
}

#videoPlayerContainer.normal-view {
  padding-top: 5px;
}

#videoPlayerContainer.gif-view {
  padding-top: 15px;
}

#gif-header {
  display: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0));
  position: absolute;
  margin-top: 15px;
  width: 600px;
  height: 20px;
}

video {
  /*background-color: black;*/
}