.playHighlighted { 
  background-color: greenyellow;
  text-transform: uppercase;
}

.timerHighlighted {
  background-color: yellow;
  text-transform: uppercase;
}

.recordingHighlighted {
  background-color: orange;
  text-transform: uppercase;
}