/* Seg css */
.play {
  color: black;
  background-color: #40E0D0;  /* TURQUOISE */
  text-transform: uppercase;
}

.cue {
  color: white;
  background-color: #FF00FF;  /* Fuschia */
  text-transform: uppercase;
}

.master {
  color: yellow;
  background-color: #00008B;  /* Dark blue */
  text-transform: uppercase;
}

.good {
  color: black;
  background-color: yellow;
}

.oof {
  color: white;
  background-color: #E0E0E0;  /* Light grey */
}

/* Feedback css */
#game-feedback-label {
  display: none;
  float: left;
  margin-right: 1px;
  background-color: yellow;
}

.feedbackOn {
  color: white;
  background-color: red;
  text-transform: uppercase;
}

.feedbackFade1 {
  color: white;
  background-color: grey;  /* Dark grey */
  text-transform: uppercase;
}

.feedbackFade2 {
  color: white;
  background-color: #e0e0e0;  /* Light grey */
  text-transform: uppercase;
}

.feedbackFade3 {
  color: grey;
  background-color: none;
  text-transform: uppercase;
}

/* Time css */
#game-segTime-label {
  display: none;
  float: left;
  margin-right: 1px;
}

.timeOn {
  color: white;
  background-color: grey;  /* Dark grey */
}

.timeFade {
  color: white;
  background-color: #e0e0e0;  /* Light grey */
}

.timeOff {
  color: #e0e0e0;  /* Light grey */
  background-color: none;
}